<p-toast></p-toast>
<p-dialog [(visible)]="visible" [modal]="true" resizable="false" moveable="false"
  [style]="{ width: '32rem', background: 'linear-gradient(to right, #2f2f42 40%, #1e1e31 20%)', margin: '0', padding: '0', color: 'white' }"
  [contentStyle]="{ padding: '0' }" (onHide)="fechar()">
  <div class="trocar-senha-dialog">

    <div class="painel-esquerdo">
      <h2>ALTERAR SENHA</h2>
      <i class="pi pi-lock icone-lock"></i>
    </div>


    <div class="painel-direito">
      <form #formSenha="ngForm" (ngSubmit)="trocarSenha(formSenha)">
        <div class="field">
          <label for="senhaAtual">Senha atual</label>
          <p-password [feedback]="false" toggleMask="true" inputId="senhaAtual" [(ngModel)]="senhaAtual"
            name="senhaAtual" required></p-password>
        </div>

        <div class="field">
          <label for="novaSenha">Nova senha</label>
          <p-password [feedback]="false" toggleMask="true" inputId="novaSenha" [(ngModel)]="novaSenha" name="novaSenha"
            required minlength="6" #novaSenhaModel="ngModel"></p-password>

          <app-message-valid-forms [text]="'A senha nova e confirmação não está igual.'" [visible]="senhasDiferentes">
          </app-message-valid-forms>

          <app-message-valid-forms [control]="novaSenhaModel" error="minlength"
            text="A senha deve ter pelo menos 6 caracteres.">
          </app-message-valid-forms>
        </div>


        <div class="field">
          <label for="confirmarSenha">Confirmar senha</label>
          <p-password [feedback]="false" toggleMask="true" inputId="confirmarSenha" [(ngModel)]="confirmarSenha"
            name="confirmarSenha" required minlength="6" #confirmSenhaNgModel="ngModel"></p-password>
          <app-message-valid-forms [text]="'A senha nova e confirmação não está igual.'" [visible]="senhasDiferentes">
          </app-message-valid-forms>
          <app-message-valid-forms [control]="confirmSenhaNgModel" error="minlength"
            text="A senha deve ter pelo menos 6 caracteres.">
          </app-message-valid-forms>
        </div>




        <div class="botoes">
          <button pButton severity="danger" label="Cancelar" icon="pi pi-times" type="button" class="p-button-text"
            (click)="visible = false"></button>
          <button pButton severity="success" label="Salvar" icon="pi pi-check" type="submit"
            [disabled]="formSenha.invalid"></button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
