.trocar-senha-dialog {
  display: flex;
  height: 100%;
  min-height: 240px;

  .painel-esquerdo {
    width: 40%;
    background-color: #2f2f42;
    color: #ffffff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 11px;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icone-lock {
      font-size: 5rem;
      color: #f0b800;
    }
  }

  .painel-direito {
    width: 60%;
    padding: 1.5rem;
    background-color: #1e1e31;
    color: #eee;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 11px;

    .field {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.25rem;
        font-weight: 00;
        color: #ccc;
      }
    }

    .botoes {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 5rem;
    }
  }
}

:host ::ng-deep .p-dialog {
  border-color: #000000;
}

:host ::ng-deep .p-password-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #444455;
  color: #eee;
  font-size: 1rem;
  box-sizing: border-box;
  height: 2.6rem; /* ajuste para igualar altura do input */
  transition: border-color 0.3s ease, background-color 0.3s ease;
}


:host ::ng-deep .p-password-input::placeholder {
  color: #999;
}

:host ::ng-deep .p-password-input:focus {
  outline: none;
  border-color: #8a7fff !important;
  background-color: #555566;
  color: #fff;
}

:host ::ng-deep .p-password-mask-icon,
:host ::ng-deep .p-password-unmask-icon {
  color: #ccc;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

:host ::ng-deep .p-password-mask-icon:hover,
:host ::ng-deep .p-password-unmask-icon:hover {
  color: #eee;
}

:host ::ng-deep .p-password-meter {
  display: none !important;
}
