<div class="container">
  <p-toast></p-toast>
  <div class="grid p-fluid">
    <!-- FORMULÁRIO DE CRIAÇÃO DE TASK -->
    <div class="col-12 md:col-5">
      <p-card class="cardlancartask" header="Designar tarefas para um cliente">
        <p-divider></p-divider>

        <form #formTask="ngForm" autocomplete="off">
          <div class="colunainputs">
            <p style="margin-bottom: 3px; margin-top: 0px;">Selecione ou pesquise o cliente pelo nome </p>

            <p-autocomplete class="autocompletedark" [(ngModel)]="clienteSelecionadoDropDownTask"
              [suggestions]="clientesFiltrados" (completeMethod)="filtrarClientes($event)" placeholder="Selecione"
              [dropdown]="true" field="nome" name="clienteSelecionadoDropDownTask" required="true"
              #clienteControl="ngModel" [emptyMessage]="'Nenhum resultado encontrado'">

              <ng-template let-cliente pTemplate="item">
                <div style="display: flex; flex-direction: column;">
                  <span>{{ cliente.nome }}</span>
                  <small style="color: gray;">{{ cliente.documento }}</small>
                </div>
              </ng-template>

              <!-- Template para item selecionado (no input) -->
              <ng-template let-cliente pTemplate="selectedItem">
                <div style="display: flex; flex-direction: column;">
                  <span>{{ cliente.nome }}</span>
                  <small style="color: gray;">{{ cliente.documento }}</small>
                </div>
              </ng-template>
            </p-autocomplete>

          </div>
          <app-message-valid-forms [control]="clienteControl" text="Informar o cliente é obrigatório"
            error="required"></app-message-valid-forms>


          <div class="colunainputs" style="margin-right: 50%; margin-top: 15px;">
            <label for="titulo">Título da Tarefa</label>
            <input autocomplete="off" class="inputs" id="titulo" type="text" pInputText [(ngModel)]="novaTask.titulo"
              required minlength="5" maxlength="80" name="titulotask" #tituloTask="ngModel" />
          </div>
          <app-message-valid-forms [control]="tituloTask" text="Informar o título da tarefa é obrigatório"
            error="required"></app-message-valid-forms>
          <app-message-valid-forms [control]="tituloTask" text="O título deve ter no mínimo 5 caracteres"
            error="minlength"></app-message-valid-forms>
          <app-message-valid-forms [control]="tituloTask" text="O título deve ter no máximo 80 caracteres"
            error="maxlength"></app-message-valid-forms>

          <div class="colunainputs" style="margin-top: 1%; width: 100%;">
            <p-floatlabel variant="in" style="width: 100%;">
              <textarea pTextarea id="in_label" class="textarea-expand" rows="6" style="resize: none;"
                [(ngModel)]="novaTask.descricao" name="descricaotask" #descricaoTarefa="ngModel" required="true"
                minlength="10"></textarea>
              <label for="in_label">Descrição</label>
            </p-floatlabel>
          </div>
          <app-message-valid-forms [control]="descricaoTarefa" text="Informar a descrição da tarefa é obrigatório"
            error="required"></app-message-valid-forms>
          <app-message-valid-forms [control]="descricaoTarefa" text=" A descrição deve ter no mínimo 10 caracteres"
            error="minlength"></app-message-valid-forms>

          <div class="linhainputs" style="margin-top: 1%;">
            <div class="input-bloco">
              <label for="prioridade">Prioridade</label>
              <p-autoComplete class="autocompletedark" inputId="prioridade" [(ngModel)]="novaTask.prioridade"
                [suggestions]="propriedadesFiltradas" (completeMethod)="filtrarPrioridades($event)" [dropdown]="true"
                field="label" [forceSelection]="true" placeholder="Selecione" name="prioridadeTask" required="true"
                #prioridadeTask="ngModel">

                <!-- Template da lista de sugestões -->
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.label" [severity]="option.severity"></p-tag>
                </ng-template>

                <!-- Template do item selecionado -->
                <ng-template let-selected pTemplate="selectedItem">
                  <p-tag [value]="selected.label" [severity]="selected.severity"></p-tag>
                </ng-template>

              </p-autoComplete>
              <app-message-valid-forms [control]="prioridadeTask" text="Informar a prioridade é obrigatório"
                error="required"></app-message-valid-forms>


            </div>


            <div class="input-bloco">
              <label for="status">Status</label>
              <p-autoComplete class="autocompletedark" inputId="status" [(ngModel)]="novaTask.status"
                [suggestions]="statusFiltrados" (completeMethod)="filtrarStatus($event)" [dropdown]="true"
                [forceSelection]="true" placeholder="Selecione" name="statusTask" [required]="true"
                #statusTask="ngModel">
                <ng-template let-status pTemplate="item">
                  {{ status.label }}
                </ng-template>

                <!-- Item selecionado no input -->
                <ng-template let-status pTemplate="selectedItem">
                  {{ status.label }}
                </ng-template>
              </p-autoComplete>
              <app-message-valid-forms [control]="statusTask" text="Informar o status é obrigatório"
                error="required"></app-message-valid-forms>
            </div>


            <div class="input-bloco">
              <div>
                <p-button label="Mídia" icon="pi pi-file" severity="info"></p-button>
              </div>
            </div>
          </div>
        </form>


        <div style="display: flex; justify-content: right;">
          <p-button label="Criar Task" icon="pi pi-check" severity="info" (click)="lancarTask()"></p-button>
        </div>

      </p-card>
    </div>

    <!-- LISTAGEM DE TASKS -->
    <div class="col-12 md:col-7" style="margin-top: 2px;">
      <p-card class="cardlancartask">
        <ng-template pTemplate="header">
          <div class="header-personalizado">Visualizar Tarefas do cliente</div>
        </ng-template>
        <div class="field"
          style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 10px;">
          <!-- Agrupar label + autocomplete -->
          <div style="display: flex; align-items: center;">


            <p-autocomplete class="autocompletedark" [(ngModel)]="clienteSelecionadoDropDownTaskTable"
              [suggestions]="clientesFiltrados" (completeMethod)="filtrarClientes($event)" placeholder="Selecione"
              [dropdown]="true" field="nome" (onSelect)="aoSelecionarCliente()"
              [emptyMessage]="'Nenhum resultado encontrado'">
              <ng-template let-cliente pTemplate="item">
                <div style="display: flex; flex-direction: column;">
                  <span>{{ cliente.nome }}</span>
                  <small style="color: gray;">{{ cliente.documento }}</small>
                </div>
              </ng-template>
              <ng-template let-cliente pTemplate="selectedItem">
                {{ cliente.nome }} - {{ cliente.documento }}
              </ng-template>
            </p-autocomplete>
            <label style="margin-left: 5px;" for="filtroCliente"> Pesquise o cliente por nome ou documento</label>
          </div>



          <!-- Botão alinhado à direita -->
          <p-button icon="pi pi-filter" label="Filtros" (onClick)="dialogFiltroVisivel = true">
          </p-button>
        </div>

        <p-table [value]="tasksFiltradas" [lazy]="true" [paginator]="true" [rows]="10" [loading]="loading"
          responsiveLayout="scroll" [scrollable]="true" (onLazyLoad)="carregarTasksLazy($event)"
          [style.display]="clienteSelecionadoDropDownTaskTable ? 'block' : 'none'" [totalRecords]="totalRecords"
          [sortField]="'dataCriacao'" [sortOrder]="-1" selectionMode="single">

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="titulo" style="width: 35%; min-width: 150px;">Título <p-sortIcon
                  field="titulo"></p-sortIcon></th>
              <th pSortableColumn="prioridade" style="width: 10%;">Prioridade <p-sortIcon
                  field="prioridade"></p-sortIcon></th>
              <th pSortableColumn="status" style="width: 12%;">Status <p-sortIcon field="status"></p-sortIcon></th>
              <th pSortableColumn="dataCriacao" style="width: 15%;">Data Criação <p-sortIcon
                  field="dataCriacao"></p-sortIcon></th>
              <th pSortableColumn="autor.nome" style="width: 15%;">Autor <p-sortIcon field="autor.nome"></p-sortIcon>
              </th>
              <th style="width: 10%;">Ações</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-task>
            <tr [pSelectableRow]="task" (dblclick)="selecionarTask(task)">
              <td>{{ task.titulo }}</td>
              <td>
                <p-tag *ngIf="getPrioridadeTag(task.prioridade) as prioridadeTag" [value]="prioridadeTag.label"
                  [severity]="prioridadeTag.severity"></p-tag>
              </td>
              <td>
                <p-tag [style]="{'background-color': getStatusColor(task.status), 'color': 'white'}">
                  {{ formatStatusLabel(task.status) }}
                </p-tag>
              </td>
              <td>{{ task.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ task.autor?.nome }}</td>
              <td>
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                  (click)="confirmarExclusao(task)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <p-message *ngIf="!clienteSelecionadoDropDownTaskTable" severity="info"
          text="Selecione um cliente para visualizar as tasks."></p-message>
      </p-card>
    </div>
  </div>


  <p-dialog header="Filtrar Tarefas" [(visible)]="dialogFiltroVisivel" [modal]="true"
    [style]="{ width: '40rem', height: '46rem' }" [closable]="true">

    <ng-template pTemplate="footer">
      <p-button label="Aplicar" icon="pi pi-check" (onClick)="aplicarFiltro()"></p-button>
    </ng-template>

    <div class="p-fluid" style="display: flex; flex-direction: column; gap: 1rem;">

      <!-- Datas -->
      <form #formFiltros="ngForm">
        <div class="field">
          <label style="margin-bottom: 0.5rem;">Data de criação da tarefa</label>
          <div style="display: flex;">
            <p-datepicker [(ngModel)]="filtros.dataInicio" [showIcon]="true" inputId="dataInicio"
              [locale]="filtrosDataLocale" placeholder="Data Início" [style]="{ width: '100%' }"
              name="dataInicio"></p-datepicker>
            <p>Até</p>
            <p-datepicker [(ngModel)]="filtros.dataFim" [showIcon]="true" inputId="dataFim" placeholder="Data Final"
              [style]="{ width: '100%' }" name="dataFim"></p-datepicker>
          </div>
        </div>
        <app-message-valid-forms [text]="'A data de início não pode ser maior que a data final.'"
          [visible]="validarDatas()">
        </app-message-valid-forms>

        <p-divider></p-divider>

        <!-- Cliente -->
        <div class="field">
          <label>Cliente* (obrigatório)</label>
          <p-autoComplete [(ngModel)]="clienteSelecionadoDropDownFiltro" [suggestions]="clientesFiltrados"
            required="true" placeholder="Selecione um Cliente ou pesquise pelo nome"
            (completeMethod)="filtrarClientes($event)" field="nome" name="clientefiltro" [dropdown]="true"
            #clienteControlTaskFilter="ngModel" [style]="{ width: '100%' }"
            [emptyMessage]="'Nenhum resultado encontrado'">
            <ng-template let-cliente pTemplate="item">
              <div style="display: flex; flex-direction: column;">
                <span>{{ cliente.nome }}</span>
                <small style="color: gray;">{{ cliente.documento }}</small>
              </div>
            </ng-template>
          </p-autoComplete>
          <app-message-valid-forms [control]="clienteControlTaskFilter" text="Informar o cliente é obrigatório"
            error="required"></app-message-valid-forms>
        </div>

        <!-- Título -->
        <div class="field">
          <label for="filtroTitulo">Título</label>
          <input type="text" id="filtroTitulo" pInputText [(ngModel)]="filtros.titulo" style="width: 100%;"
            name="filtroTitulo" />
        </div>

        <!-- Prioridade -->
        <div class="field">
          <label>Prioridade</label>
          <p-autoComplete placeholder="Selecione" [(ngModel)]="filtros.prioridade" field="label" [dropdown]="true"
            [suggestions]="propriedadesFiltradas" (completeMethod)="filtrarPrioridades($event)" name="prioridadeFiltro"
            [style]="{ width: '100%' } ">
            <ng-template let-pri pTemplate="item">
              <p-tag [value]="pri.label" [severity]="pri.severity"></p-tag>
            </ng-template>
            <ng-template let-pri pTemplate="selectedItem">
              <p-tag [value]="pri.label" [severity]="pri.severity"></p-tag>
            </ng-template>
          </p-autoComplete>
        </div>

        <!-- Status -->
        <div class="field">
          <label>Status</label>
          <p-autoComplete placeholder="Selecione" [(ngModel)]="filtros.status" [suggestions]="statusFiltrados"
            (completeMethod)="filtrarStatus($event)" field="label" [dropdown]="true" [style]="{ width: '100%' }"
            name="statusFiltro">
            <ng-template let-status pTemplate="item">
              {{ status.label }}
            </ng-template>

            <!-- Item selecionado no input -->
            <ng-template let-status pTemplate="selectedItem">
              {{ status.label }}
            </ng-template>
          </p-autoComplete>
        </div>
      </form>

    </div>
  </p-dialog>

  <app-detalhestask [(dialogDetailsTaskVisible)]="dialogDetailsTaskVisible" [selectedTask]="tarefaSelecionada"
    [getStatusColorByTaskId]="getStatusColorByTaskId.bind(this)"
    [getStatusLabelByTaskId]="getStatusLabelByTaskId.bind(this)" [getStatusLabel]="getStatusLabel.bind(this)"
    [getPrioridadeColorByTaskId]="getPrioridadeColorByTaskId.bind(this)"
    [getPrioridadeLabelByTaskId]="getPrioridadeLabelByTaskId.bind(this)"
    [getPrioridadeLabel]="getPrioridadeLabel.bind(this)"></app-detalhestask>



</div>
