<div class="comments-section">

  <ul class="comment-list">
    <li *ngFor="let comment of comments">
      <strong><i class="pi pi-comments" style="margin-right: 0.5rem;"></i>{{ comment.autor }}</strong>
      {{ comment.texto }}
      <div class="media-thumbnails" *ngIf="comment.midias?.length">
        <ng-container *ngFor="let media of comment.midias">
          <img *ngIf="media.tipo === 'image'" [src]="getFullMediaUrl(media.url)"
            (click)="openViewer(getFullMediaUrl(media.url), 'image')" class="thumbnail-img" />

          <video *ngIf="media.tipo === 'video'" [src]="getFullMediaUrl(media.url)" muted playsinline
            class="thumbnail-video" (click)="openViewer(getFullMediaUrl(media.url), 'video')"></video>


          <div *ngIf="media.tipo === 'file'" class="file-thumbnail">
            <i class="pi pi-file" style="font-size: 2rem; margin-right: 0.5rem;"></i>
            <span class="file-name">{{ getFileDisplayName(media.url) }}</span>
            <a [href]="getDownloadUrl(media.url)" download class="download-button" title="Baixar arquivo">
              <i class="pi pi-download"></i>
            </a>
          </div>


        </ng-container>
      </div>
      <small>{{ comment.criadoEm | date: 'dd/MM/yyyy HH:mm' }}</small>
    </li>
  </ul>

  <p-floatlabel variant="in">
    <textarea pTextarea id="addComment" rows="4" cols="30" style="resize: none; width: 100%; height: auto;"
      class="h-full" name="addComment" [(ngModel)]="newComment" #comentario="ngModel" minlength="5"
      maxlength="800"></textarea>
    <label for="addComment">Escreva um comentário ao card...</label>
  </p-floatlabel>
  <app-message-valid-forms [control]="comentario" text="O comentário deve ter no mínimo 5 caracteres"
    error="minlength"></app-message-valid-forms>
  <app-message-valid-forms [control]="comentario" text="O comentário deve ter no máximo 800 caracteres"
    error="maxlength"></app-message-valid-forms>

  <div class="comment-actions">
    <div class="image-upload-group">
      <input type="file" #imageInput (change)="handleMediaUpload($event)" accept="image/*,video/*" multiple
        style="display: none;">
      <p-button icon="pi pi-images" label="Mídia" severity="secondary" (click)="imageInput.click()"></p-button>

      <span class="file-name">{{ selectedFileName || 'Nenhum arquivo selecionado' }}</span>
    </div>

    <p-button label="Comentar" severity="info" (click)="addComment()" [style]="{ 'margin-left': '1rem' }"
      [disabled]="!comentario.valid || isSending" [loading]="isSending"></p-button>
  </div>

  <p-dialog [(visible)]="showViewer" modal draggable="false" resizable [closable]="true"
    [contentStyle]="{ display: 'flex', alignItems: 'center', justifyContent: 'center', padding: '0'}">


    <ng-template pTemplate="header">
      <div style="position: relative; width: 100%; text-align: center;">
        <span style="font-weight: bold;">Visualização de Mídia</span>
      </div>
    </ng-template>


    <img *ngIf="viewerType === 'image'" #fullscreenImg [src]="viewerContent" [style.max-width]="zoomed ? '70%' : '100%'"
      [style.max-height]="zoomed ? '70%' : '100%'" [style.width]="zoomed ? '70%' : '100%'"
      [style.height]="zoomed ? '70%' : '100%'"
      style="cursor: zoom-in; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;"
      (click)="openFullscreen(fullscreenImg)" alt="Imagem do comentário" />

    <video *ngIf="viewerType === 'video'" [src]="viewerContent" controls autoplay
      style="max-width: 100%; max-height: 100%; background: black;"></video>
  </p-dialog>



</div>
